[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "knockoff"]
	path = knockoff
	url = https://github.com/cran/knockoff
[submodule "SNPknock"]
	path = SNPknock
	url = https://github.com/msesia/snpknock
